button {
  border-radius: 20px 10px;

  padding: 20px;
  background: #ea6d27;

  width: 163px;
  height: 54px;
  top: 76px;
  left: 1105px;
}
/* .btn1 {
  border-radius: 20px 10px;

  padding: 20px;
  background: black;
  color: white;
  width: 112px;
  height: 54px;
}
.btn2 {
  border-radius: 20px 10px;

  padding: 20px;
  background: #ea6d27;

  width: 163px;
  height: 54px;
  top: 76px;
  left: 1105px;
} */
